{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
        <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200" >
            <img src="{% static 'assets/img/doc.jpg' %}" class="img-fluid" alt="" style="height: 520px">
          </div>

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>About Us</h3>
            <p>
               At MediCSync, we are dedicated to providing exceptional healthcare with compassion and innovation.
                With a team of expert professionals, state-of-the-art facilities, and a patient-first approach, we strive to enhance lives and foster healthier communities.
                Your health is our mission, and your trust is our commitment.
            </p>
            <ul>
              <li>
                <i class="fa-solid fa-vial-circle-check"></i>
                <div>
                  <h5>Mission</h5>
                  <p>To deliver outstanding, patient-centered healthcare that enhances lives, fosters trust, and promotes wellness in our community.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-pump-medical"></i>
                <div>
                  <h5>Our Vision</h5>
                  <p>To be a leader in healthcare excellence, combining innovation, expertise, and compassion to shape a healthier future for everyone we serve.</p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->
	
{% endblock %}