{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
     <!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Departments</h2>
        <p>Here Are Some of Our Departments</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Out Patient Department (OPD)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Ophthalmology Department</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Laboratory Services Department </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Physiotherapy Department</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Obstetrics and Gynecology Department</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Out Patient Department (OPD)</h3>
                    <p class="fst-italic">Where patients receive medical consultations, diagnostic services, and minor treatments without requiring admission or an overnight stay.</p>
                      <p>Consultations: Patients meet with doctors across various specialties for diagnosis and treatment planning.</p>
                      <p>Diagnostics: Includes services such as blood tests, X-rays, ultrasounds, and other diagnostic procedures.</p>
                      <p>Follow-Ups: Patients return for post-treatment or post-surgery evaluations.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/outpatient.jpeg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ophthalmology Department</h3>
                    <p class="fst-italic">Dedicated to the diagnosis, treatment, and prevention of diseases and conditions affecting the eyes and vision.</p>
                    <p>Eye Examinations: Comprehensive eye exams to assess vision, detect refractive errors (like myopia, hyperopia, astigmatism), and screen for eye diseases.</p>
                    <p>Emergency Eye Care: Treatment of acute eye injuries, infections, and conditions like conjunctivitis or foreign body removal.</p>
                    <p>Diagnosis and Treatment: Diagnosis and medical management of conditions such as cataracts, glaucoma, diabetic retinopathy, macular degeneration, and retinal disorders.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/eye.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Laboratory Services Department </h3>
                    <p class="fst-italic"> An integral part of the healthcare system, providing critical diagnostic information that assists healthcare professionals in making accurate diagnoses and treatment decisions.</p>
                    <p>Clinical Chemistry:Analyzes blood and urine samples to measure levels of enzymes, proteins, hormones, glucose, and other substances.</p>
                    <p>Immunology:Performs tests to measure immune responses, diagnose autoimmune diseases, and detect infectious agents or allergens.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/lab.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Physiotherapy Department</h3>
                    <p class="fst-italic">Is responsible for helping patients recover from physical injuries, surgeries, and various medical conditions that affect movement and physical function.</p>
                    <p>Sports Physiotherapy:Focuses on the rehabilitation of athletes and active individuals with sports-related injuries, aiming to restore performance and prevent future injuries.</p>
                    <p>Orthopedic Physiotherapy: Focuses on conditions related to the bones, joints, and soft tissues (e.g., fractures, sprains, arthritis, and post-surgical rehabilitation).</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/physio.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Obstetrics and Gynecology Department</h3>
                    <p class="fst-italic">Dedicated to providing medical care related to the female reproductive system, including the management of pregnancy, childbirth, and conditions affecting the female organs such as the uterus, ovaries, and vagina.</p>
                    <p>Labor and Delivery: Management of labor, including natural childbirth, Caesarean sections (C-sections), and any emergency procedures that may arise during delivery.</p>
                    <p>Menstrual Disorders: Diagnosis and treatment of conditions related to irregular periods, heavy bleeding, or absence of menstruation.</p>
                    <p>Fibroid Removal: Surgical removal of fibroids that cause significant pain, bleeding, or other complications.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/gyna.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Departments Section -->

{% endblock %}