{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Here are some of the common Services offered in our Hospitals:</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Opthalmology</h3>
              </a>
              <p>Ophthalmology is a clinical and surgical specialty within medicine that deals with the diagnosis and treatment of eye disorders.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Obstetrics and gynaecology</h3>
              </a>
              <p> This is the medical specialty that encompasses the two subspecialties of obstetrics (covering pregnancy, childbirth, and the postpartum period) and gynaecology (covering the health of the female reproductive system – vagina, uterus, ovaries, and breasts). The specialization is an important part of care for women's health.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>General Consultation</h3>
              </a>
              <p>Also referred to as a medical consultation, a general consultation is a meeting between a physician and a patient. Common goals include taking preventive measures to halt the development of various diseases particularly for patients who have risk factors, obtain a diagnosis for symptoms being experienced by the patient, or in the case of an annual checkup, to reassess the patient's risk of various medical conditions.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Laboratory Services</h3>
              </a>
              <p> Offers diagnostic tests like blood work and microbiological analysis to help diagnose and treat disease.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Physiotherapy</h3>
              </a>
              <p>Helps restore movement and function after injury, illness, developmental problems, or other disability.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Outpatient Services</h3>
              </a>
              <p>Provides general healthcare and expertise in a range of medical conditions especially to patients who do not necessarily require a bed or being admitted for overnight care.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->


{% endblock %}